@import '~styles/index.less';

/* this is to match other items in the sync studio sidebar :/ */
.data-score-container {
  padding-left: 18px;
  padding-right: 18px;
}

.data-score-not-available {
  color: @gray-800;
  font-size: @fontSizes[md];
}
