@import '~styles/variables.less';

.synri-entity-tags {
  padding: 16px;

  .synri-field-filter {
    margin-bottom: 18px;
  }

  input.ant-select-search__field {
    margin-left: @spacings[xxs];
  }
}
