@import 'styles';

.data-quality {
  padding: 18px 18px 0 18px;
  background-color: white;
  width: 100%;
  &__filter-container {
    display: flex;
  }
  &__disabled-message {
    color: $gray-900;
    button {
      margin-left: $spacings-md;
    }
    display: flex;
    align-items: center;
    gap: 16px;

    .ant-tooltip {
      display: inline-block;
    }

    .ant-tooltip-inner {
      max-width: 300px;
    }
  }
  &__in-progress-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    color: $gray-900;
    gap: $spacings-md;
  }
}
