@import 'styles';

.connector-selector {
  min-width: 200px;

  &--standard {
    .dropdown-selector-item {
      &__left-content {
        align-items: center;
      }
    }
  }

  .non-svg {
    height: 100%;
    width: 100%;
    img {
      width: $spacings-lg !important;
      height: $spacings-lg !important;
    }
  }
}
