@import 'styles';

.password-page {
  display: flex;
  width: 100vw;
  &__marketing-content {
    width: 50vw;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__button {
    margin: $spacings-md auto;
    display: block;
    width: 120px;
  }
  &__forgot-password {
    text-align: center;
  }
  &__text {
    color: black;
    font-size: $font-size-lgr;
    text-align: center;
    margin-bottom: $spacings-md;
  }
}
