@import 'styles';

.sharing-details {
  &__table {
    margin-top: $spacings-mmlg;
    .ag-layout-auto-height,
    .ag-center-cols-clipper,
    .ag-center-cols-viewport,
    .ag-center-cols-container {
      min-height: 0px !important;
    }

    &.empty {
      .ag-layout-auto-height,
      .ag-center-cols-clipper,
      .ag-center-cols-viewport,
      .ag-center-cols-container {
        min-height: $ag-table-empty-min-height !important;
      }
    }
  }
  &__delete-button {
    margin-right: $spacings-mmlg;
  }
  &__expiry-date {
    width: 100%;
  }
}
