@import '~styles/index.less';

.imported-files {
  &__action-button-container .synri-h-stack.justify-end {
    justify-content: center;
  }

  &__action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__action-button-arrow-icon {
    margin-right: @spacings[xs];
    width: 15px;
    height: 15px;
  }
}
