@import '~styles/index.less';

.synri-button {
  &.synri-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0 @spacings[xxs];
    background-color: transparent;
    box-shadow: none;

    .icon-wrapper {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: @fontSizes[xxl];
      width: @fontSizes[xxl];

      svg {
        height: 100%;
        width: 100%;
      }
    }

    &.small {
      .icon-wrapper {
        height: @fontSizes[lg];
        width: @fontSizes[lg];
      }
    }

    &:hover {
      background-color: @gray-200;
    }
  }
}
