@import 'styles';
@import '../Mapper/Mapper.scss';

.add-syncari-field {
  color: $syncari-blue;
  padding: $spacings-md $spacings-xs;
  cursor: pointer;

  .synri-button {
    padding-left: $spacings-xxxs;
  }
}
