@import '~styles/index.less';

.transactions-table-synri-changes-column {
  position: relative;
}

.synri-changes-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @syncari-blue;
  cursor: pointer;
}
