.rbac__confirm-modal {
  overflow-y: auto;
  max-height: 300px;
  border: 1px solid #e7e7e7;
  padding: 20px;
}

.rbac__actions {
  margin: 0px auto;
  padding: 0px auto;
}

.kebab-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
