@import '~styles/index.less';

.idp-section {
  .idp-section-header {
    border-bottom: 1px solid @border-color;
    padding-bottom: @spacings[md];
    margin-bottom: @spacings[md];

    .title {
      margin: 0;
      padding: 0;
    }
  }
}

.syncari-label {
  color: @gray-800;
  font-weight: @fontWeights[semibold];
}

.input-addon-button {
  cursor: pointer;

  &:hover {
    color: @syncari-blue;
  }
}

.certificate-textarea {
  font-family: @font-family-mono;
}
