@import '~styles/index.less';

.create-group-panel {
  display: flex;
  flex-direction: column;

  &__selection-action {
    margin-bottom: @spacings[md];
  }

  &__group-label {
    margin-bottom: @spacings[md];
  }

  &__group-description {
    margin-bottom: @spacings[md];
  }
}
