@import '~styles/index.less';

.synri-datascore-badge {
  border-radius: @borderRadius[full];
  display: inline-block;
  font-weight: @fontWeights[semibold];
  font-size: @fontSizes[sm];
  padding: 0 @spacings[sm];
}
