@import (reference) '~styles/index.less';

.subscription-profile {
  .ant-select {
    display: block;
    width: 30%;
  }

  input,
  .logo-upload {
    display: block;
    width: 30%;
  }

  button.ant-btn-primary {
    margin-top: @spacings[lg];
  }

  img {
    margin-right: @spacings[md];
  }
}

.synri-label {
  margin-right: @spacings[xs];
}
