@import '~styles/index.less';

.data-card-wizard {
  height: 100%;

  &__content {
    flex: 1;
    padding: @spacings[md] @spacings[xl];
    height: 100%;
    position: relative;
  }
}

.data-card-basic-info-form {
  width: 50%;
  padding-right: @spacings[xl];
}
