@import '~styles/index.less';

.node-validation-item-container {
  border-bottom: 1px solid @gray-400;
  padding: @spacings[md] 0;

  .node-validation-item-header {
    display: flex;
    justify-content: space-between;
  }

  .node-validation-item-result {
    margin-top: @spacings[md];
    font-size: @fontSizes[md];
  }
}
