@import '~styles/index.less';

.unified-data-card-wizard {
  height: 100%;

  &__spinner {
    display: block;
    margin: 0 auto;
  }

  &__content {
    flex: 1;
    padding: @spacings[md] @spacings[xl];
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}

.unified-data-card-basic-info-form {
  width: 50%;
  padding-right: @spacings[xl];
}
