@import '~styles/index.less';

.synri-notification-settings-container {
  padding: @spacings[xl];

  .synri-notification-channel-input {
    .synri-select {
      width: 400px;
    }
  }
}

.notification-settings-table {
  width: 100%;

  .synri-notification-table-header-full {
    width: 100%;
  }

  tr + tr {
    border-top: 1px solid @gray-300;
  }

  .notification-row {
    td {
      padding: @spacings[xs];
      white-space: nowrap;
    }

    .synri-notification-row-switch {
      transform: scale(0.75);
    }

    td:last-child {
      width: 100%;
    }

    & + .record-field-row {
      border-top: 1px solid @gray-300;
    }

    &:focus-within td,
    &:hover td {
      background-color: @blue-200;
    }

    .record-field-label {
      min-width: 18rem;
      min-height: 32px;

      /* special label layout for textareas */
      &.textarea {
        /* padding + 1 border's width */
        padding-top: calc(@spacings[sm] + 1px);
        vertical-align: top;
      }
    }

    .record-field {
      display: flex;
      width: 100%;

      .synri-label-with-help {
        order: 1;
      }

      .ant-form-item-control {
        line-height: unset;
      }

      .ant-input,
      .ant-form-item {
        flex: 1;
        margin-bottom: 0;
        max-width: 45rem;
        padding: @spacings[xxs] @spacings[sm];
      }

      .ant-select-selection__rendered {
        margin-left: @spacings[sm];
      }
    }
  }
}
