# example .env file here, copy to ./.env and edit to suit your configuration

REACT_APP_ZENDESK_API_KEY=REPLACE_ME
REACT_APP_BOTCO_AI_API_KEY=REPLACE_ME
REACT_APP_ZENDESK_URL=REPLACE_ME
CYPRESS_USERNAME=REPLACE_ME
CYPRESS_PASSWORD=REPLACE_ME
